
<main class="h-screen w-screen relative">
  <div class="absolute top-0 left-0 z-10 w-24 h-20 flex justify-center items-center ">
    @if (!isSidebarOpen()) {
      <button 
      (click)="toggleSidebar(!isSidebarOpen())"
      class="w-12 h-12 hover:scale-125 transition-all cursor-pointer ">

      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
          <path d="M5 12H20" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path> <path d="M5 17H20" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path> 
          <path d="M5 7H20" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path> </g></svg>     
      </button>
    }
    @if (isSidebarOpen()) {
    <div 
      class="absolute top-0 left-0 z-10">
      <app-sidebar (toggleEvent)="handleSidebarToggle($event)"/>
    </div>
    }
  </div>

  

  <app-header
  (toggleSidebar)="toggleSidebar(!isSidebarOpen())"
  />
  <section class="flex h-[90%] w-full ">
    <router-outlet />
  </section>
</main>


